* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, system-ui, sans-serif;
}

.react-flow__node {
  @apply min-w-[120px] max-w-[320px] box-border;
  width: fit-content !important;
  transition: none !important;
  z-index: 2;
}

.react-flow__node:not(.dragging) {
  transition: box-shadow var(--transition-fast), background-color var(--transition-fast) !important;
}

.react-flow__node.dragging {
  z-index: 5;
}

.react-flow__edge {
  z-index: 1;
}

.react-flow__edge.selected,
.react-flow__edge:hover {
  z-index: 4;
}

.react-flow__edge.selected path {
  stroke: var(--primary);
}

.react-flow__edge:hover path {
  stroke: var(--primary);
}

.react-flow__edges {
  z-index: 9;
}

.react-flow__connection-line {
  z-index: 6;
}
